.meni {

	background-color: #009999;
	text-align: center;
	

}

.dugme {

	display: inline-block;
	font-size: 22px;
}

body {
	margin: 0px;
}

a {
	text-decoration: none;
	color: white;
	padding: 15px 20px;
	display: inline-block;
}

a:hover {
	background-color: #00b3b3;
	font-size: 25;
	transition:  0.2s ease-in;

}

.blokovi {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;

	


}
.blok {
	vertical-align:top;
	width: 250px;
	height:400px;
	display: inline-block;
	margin: 20px;
	text-align: center;
	font-size: 23px;
	background-color: #006666;
	color: white;
	border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0px;
    height: 100px;
}

button {
	cursor: pointer;
	width: 100px;
	height: 50px;
	font-size: 20px;
	border:none; 
	background-color: #ffffff;
	border-radius: 5px;
	color: #006666;

}
button:hover {
	background-color: #c2d6d6;
	border: none; 
	transition:  0.2s ease-in;


}

.fa {
	color:white;
	font-size: 20px;
	margin:0px 5px;
}

.desno {
    right: 10px;
    position: absolute;
	width: 25%;
	display: inline-block;
	top: 21px;
}

.sredina {
	display: inline-block;
}

.levo {
	position: absolute;
	left: 30px;
	display: inline-block;
}

.levo img {
	width: 100px;
	height: 70px;

}
.desno i {
	position: relative;
	left: 50px;
}



